[class^="btn--default"], [class^="btn--success"], [class^="btn--error"], [class^="btn--warning"], [class^="btn--info"] {
  border-radius: 5px;
  padding: .5em;
  margin-bottom: 1em;
  color: #fff; }

.grid__col--9 {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }

/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

* {
  box-sizing: border-box; }

.container {
  width: 85%;
  max-width: 1200px;
  margin: auto; }

.grid__col--6 {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.grid__col--8 {
  font-weight: lighter; }
  @media (min-width: 1400px) {
    .grid__col--8 {
      margin-right: 4em;
      max-width: 650px;
      margin-right: 3em; } }

.grid__col--9 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }

.grid__col--12 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: lighter; }
  @media (min-width: 1400px) {
    .grid__col--12 {
      flex-direction: row;
      font-size: 1em; } }

.card {
  color: #808080;
  width: 100%;
  height: 40%;
  text-align: center;
  margin: auto;
  font-size: 1em; }
  .card > p {
    text-align: justify; }
  @media (min-width: 1400px) {
    .card {
      margin-bottom: 3em; } }

.grid__col--12.theme__colors {
  background-color: #a1d4c9; }

.grid__col--6.theme__colors {
  background-color: #6797a6; }

.grid__col--4.theme__colors {
  background-color: #8c92bd; }

.grid__col--3.theme__colors {
  background-color: #ccadb7; }

.grid__col--5.theme__colors {
  background-color: #568ba8; }

.grid__col--7.theme__colors {
  background-color: #9ba89c; }

.grid__col--8.theme__colors {
  background-color: #c7b89b; }

@media (min-width: 1400px) {
  .grid__row {
    margin: auto;
    justify-content: center;
    align-items: center;
    max-width: 1200px; } }

.grid__row {
  padding: 1em 10px;
  display: flex;
  flex-direction: column; }
  @media (min-width: 1400px) {
    .grid__row {
      flex-direction: row; } }
.grid__col--1 {
  flex-basis: 100%; }
  @media (min-width: 1400px) {
    .grid__col--1 {
      margin-top: 0;
      flex-basis: 8.3333333333%; } }
.grid__col--2 {
  flex-basis: 100%; }
  @media (min-width: 1400px) {
    .grid__col--2 {
      margin-top: 0;
      flex-basis: 16.6666666667%; } }
.grid__col--3 {
  flex-basis: 100%; }
  @media (min-width: 1400px) {
    .grid__col--3 {
      margin-top: 0;
      flex-basis: 25%; } }
.grid__col--4 {
  flex-basis: 100%; }
  @media (min-width: 1400px) {
    .grid__col--4 {
      margin-top: 0;
      flex-basis: 33.3333333333%; } }
.grid__col--5 {
  flex-basis: 100%; }
  @media (min-width: 1400px) {
    .grid__col--5 {
      margin-top: 0;
      flex-basis: 41.6666666667%; } }
.grid__col--6 {
  flex-basis: 100%; }
  @media (min-width: 1400px) {
    .grid__col--6 {
      margin-top: 0;
      flex-basis: 50%; } }
.grid__col--7 {
  flex-basis: 100%; }
  @media (min-width: 1400px) {
    .grid__col--7 {
      margin-top: 0;
      flex-basis: 58.3333333333%; } }
.grid__col--8 {
  flex-basis: 100%; }
  @media (min-width: 1400px) {
    .grid__col--8 {
      margin-top: 0;
      flex-basis: 66.6666666667%; } }
.grid__col--9 {
  flex-basis: 100%; }
  @media (min-width: 1400px) {
    .grid__col--9 {
      margin-top: 0;
      flex-basis: 75%; } }
.grid__col--10 {
  flex-basis: 100%; }
  @media (min-width: 1400px) {
    .grid__col--10 {
      margin-top: 0;
      flex-basis: 83.3333333333%; } }
.grid__col--11 {
  flex-basis: 100%; }
  @media (min-width: 1400px) {
    .grid__col--11 {
      margin-top: 0;
      flex-basis: 91.6666666667%; } }
.grid__col--12 {
  flex-basis: 100%; }
  @media (min-width: 1400px) {
    .grid__col--12 {
      margin-top: 0;
      flex-basis: 100%; } }

@media (min-width: 1400px) {
  [class^=grid__col] + [class^=grid__col] {
    margin-left: 10px; } }

.nav {
  width: 100%;
  list-style: none;
  padding-bottom: 2em;
  padding-top: 1em;
  padding-left: unset; }
  @media (min-width: 1400px) {
    .nav {
      padding-left: 1em;
      margin-left: -2em; } }

.nav__item {
  margin-bottom: .3em;
  padding-bottom: .5em;
  padding-top: .5em; }
  @media (min-width: 1400px) {
    .nav__item {
      display: inline-block;
      margin-right: 2em;
      font-size: 1em; } }

.nav a {
  display: block;
  text-decoration: none;
  color: #808080;
  padding: .5em; }
  .nav a:hover {
    color: #fff;
    background-color: #5ae2c4;
    border-radius: 4px; }

#forms {
  margin-left: -1em; }

.form {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: auto; }
  @media (min-width: 1400px) {
    .form {
      margin-left: -.7em;
      max-width: 70%; } }

.form__label--hidden {
  display: none;
  padding: .8em; }

.form__input {
  padding: .6em;
  margin-bottom: 1.2em;
  border-style: hidden;
  border-bottom: 4px solid #5ae2c4; }
  @media (min-width: 1400px) {
    .form__input {
      margin-left: 2.2em; } }

@media (min-width: 1400px) {
  button {
    margin-left: 1.4em; } }

#buttons {
  padding-bottom: 2em; }

[class^="btn--default"] {
  background-color: #40dff7; }

[class^="btn--success"] {
  background-color: #6f966b; }

[class^="btn--error"] {
  background-color: #b55353; }

[class^="btn--warning"] {
  background-color: #f2967c; }

[class^="btn--info"] {
  background-color: #877196; }

.theme__colors {
  width: 100%;
  border-radius: 5px;
  padding: .5em;
  margin-bottom: .8em; }

#images {
  padding-bottom: 2em; }

.img--logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  padding-bottom: 1.5em; }
  @media (min-width: 1400px) {
    .img--logo {
      margin-left: 1em;
      width: 150px; } }

.img--frame {
  padding: .7em;
  border: 1px solid lightgrey;
  margin-bottom: 2em; }
  @media (min-width: 1400px) {
    .img--frame {
      width: 400px;
      max-width: 400px;
      margin-left: 4em; } }

.img--avatar {
  max-width: 145px;
  align-self: center;
  margin-bottom: 1em; }
  @media (min-width: 1400px) {
    .img--avatar {
      max-width: 185px; } }

.container {
  font-family: "Raleway", sans-serif; }
  @media (min-width: 1400px) {
    .container {
      font-size: 1.3em; } }

#type {
  margin-left: -.4em; }

.link {
  color: #40dff7;
  text-decoration: none; }

.blockquote {
  padding-left: .8em;
  margin-right: 1em;
  text-align: justify;
  border-left: 8px solid #5ae2c4;
  font-size: 1.3em;
  font-style: italic;
  font-weight: 100; }
  @media (min-width: 1400px) {
    .blockquote {
      font-size: 1.1em;
      max-width: 80%;
      padding-left: 2em; } }

h1 {
  color: #5ae2c4; }
  @media (min-width: 1400px) {
    h1 {
      font-size: 1.5em; } }

.headline--primary {
  margin-left: -1.4em;
  padding-bottom: .6em; }
  @media (min-width: 1400px) {
    .headline--primary {
      margin-right: 1em; } }

.headline--secondary {
  font-weight: 300;
  color: lightgrey;
  text-align: left;
  font-style: italic;
  padding-bottom: 1em;
  margin-left: -.6em;
  width: 100%;
  margin: auto; }
  @media (min-width: 1400px) {
    .headline--secondary {
      margin-bottom: 1em; } }

/*# sourceMappingURL=styles.css.map */
