
//Mixins

// flex container
@mixin flex {
  display: flex;
  justify-content: center;
}

@mixin flex-col ($disp:null, $fdir:null, $jusco:null){
    display: $disp;
    flex-direction:  $fdir;
    justify-content: $jusco;
}
@mixin flex-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
}
  // @content ;

// breakpoints

@mixin mq($break) {
    @if $break == "small" {
        @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-med) {
            @content
        }
    }
    @else if $break == "medium" {
        @media (min-width: $breakpoint-med + 1) {
            @content
        }
    }
    @else if $break =="large" {
        @media (min-width: $breakpoint-lg) {
            @content
        }
    }
}
