
//Mixins

// flex container
@mixin flex ($disp:flex, $jusco:center){
  display: $disp;
  justify-content: $jusco;
}

@mixin flex-col ($disp:flex, $fdir:column, $jusco:null){
    display: $disp;
    flex-direction:  $fdir;
    justify-content: $jusco;
}
@mixin flex-row ($disp:flex, $fdir:row, $jusco:start){
    display: $disp;
    width: 100%;
    flex-direction: $fdir;
    justify-content: $jusco;
    align-items: flex-start;
}
  // @content ;

// breakpoints

@mixin mq($break) {
    @if $break == "small" {
        @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-med) {
            @content
        }
    }
    @else if $break == "medium" {
        @media (min-width: $breakpoint-med + 1) {
            @content
        }
    }
    @else if $break =="large" {
        @media (min-width: $breakpoint-lg) {
            @content
        }
    }
}
