//Buttons

    // Buttons:
    button {
      @media (min-width: $breakpoint-med){
        margin-left: 0.6em;
      }
    }

    #buttons {
      padding-bottom: 2em;
    }


    [class^="btn--default"] {
      @extend %btn;
      background-color: $skyblue;

    }

    [class^="btn--success"] {
      @extend %btn;
      background-color: $avocado;
    }

    [class^="btn--error"] {
      @extend %btn;
      background-color: $bloodred;
    }

    [class^="btn--warning"] {
      @extend %btn;
      background-color: $sunset;
    }

    [class^="btn--info"] {
      @extend %btn;
      background-color: $lilac;
    }

    .theme__colors {
      width: 100%;
      border-radius: 5px;
      padding: .5em;
      margin-bottom: .8em;
    }
