//Buttons

    // Buttons:
    button {
      @media (min-width: $breakpoint-med){
        margin-left: 0.6em;
      }
    }


    [class^="btn--default"] {
      border-radius: 5px;
      padding: .5em;
      margin-bottom: 1em;
      background-color: $skyblue;
      color: #fff;
    }

    [class^="btn--success"] {
      border-radius: 5px;
      padding: .5em;
      margin-bottom: 1em;
      background-color: $avocado;
      color: #fff;
    }

    [class^="btn--error"]{
      background-color: $bloodred;
      color: #fff;
      border-radius: 5px;
      padding: .5em;
      margin-bottom: 1em;
    }

    [class^="btn--warning"] {
      background-color: $sunset;
      color: #fff;
      border-radius: 5px;
      padding: .5em;
      margin-bottom: 1em;
    }

    [class^="btn--info"] {
      background-color: $lilac;
      color: #fff;
      border-radius: 5px;
      padding: .5em;
      margin-bottom: 1em;
    }

    .theme__colors {
      width: 100%;
      border-radius: 5px;
      padding: .5em;
      margin-bottom: .8em;
    }
