//Images

#images {
  padding-bottom: 2em;
}

.img--logo {
  @include flex-col($disp:flex, $fdir:column, $jusco: space-between);
  margin: auto;
  padding-bottom: 1.5em;
  @include for-tablet-only {
    margin-left: 1em;
    margin-top: 3em;
    width: 150px;
  }
  @include for-desktop-only {
    margin-left: 1em;
    width: 150px;
  }
}

.img--frame {
  padding: .7em;
  height: 180px;
  border: 1px solid lightgrey;
  margin-bottom: 2em;
  @include for-tablet-only {
    width: 400px;
    height: 180px;
    margin-left: 7.3em;
  }
  @include for-desktop-only {
    width: 200px;
    height: 2180px;
    margin-left: 4em;
  }
}

.img--avatar{
  max-width: 145px;
  align-self: center;
  margin-bottom: 1em;
  @include for-desktop-only {
    max-width: 185px;
  }
}
