//Images

#images {
  padding-top: 2em;
  padding-bottom: 2em;
}

.img--logo {
  @include flex-col;
  margin: auto;
  padding-bottom: 1.5em;
  @media (min-width: $breakpoint-med){
    margin-top: 1.5em;
    margin-left: 1em;
    width: 150px;
  }
}

.img--frame {
  max-width: 100%;
  padding: .7em;
  border: 1px solid lightgrey;
  margin-bottom: 2em;
  @media (min-width: $breakpoint-med){
    width: 400px;
    margin-left: 6em;
  }
}

.img--avatar{
  max-width: 145px;
  align-self: center;
  margin-bottom: 1em;
  @media (min-width: $breakpoint-med){
    max-width: 185px;
  }
}
