//Navigation

  .nav {
    width: 100%;
    list-style: none;
    padding-bottom: 2em;
    padding-top: 1em;
    padding-left: unset;
    @media (min-width: $breakpoint-med){
      padding-left: 4em;
    }
  }

  .nav__item {
    margin-bottom: .3em;
    padding-bottom: .5em;
    padding-top: .5em;
    @media (min-width: $breakpoint-med){
      display: inline-block;
      margin-right: 2em;
      font-size: $font-size-h;
    }
  }

  .nav a {
    display: block;
    text-decoration: none;
    color: $grey;
    padding: .5em;
    &:hover {
      color: $white;
      background-color: $color-secondary;
      border-radius: 4px;
    }
  }
